*{
    margin: 0;
    padding: 0;
}

div#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    gap: 10px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

div#navbar>img{
    height: 100px;
}

#hero-section{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

h3{
    text-align: right;
}

h1{
    font-size: 80px;
    text-align: center;
}
